.sideDetail{
   
    width: 100%;
    z-index: 5000;
    position: fixed;
    display: flex;
    flex-direction: row;
}
.sideClose{
    background-color: red;

}
.detailContainer{
   position: relative;
    display: flex;
}
.detailBody{
    margin-top: 60px;
    display: flex;
    width: 100%;
background: transparent;
}

.detailLeftTop{
display: flex;
flex-direction: column;
}
.detailLeftTopBody{
    padding: 30px;
}
.detailVideos{
    margin-top: 100px;
}
.detailTagBar img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.detailTagBar{
    display: flex;
    justify-content: space-between;
}
.detailBody button{
    display: flex;
    align-items: center;
    
}
.subscribe{
    border: none;
    padding: 10px 20px ;
    color: black;
    border-radius: 30px;
    font-weight: 800;
    background-color: aliceblue;
}
.likeContainer{
    background-color: transparent;
    display: flex;
    align-items: center;
    background-color:rgba(255, 255, 255, 0.149) ;
    margin: 0 5px;
    border-radius: 30px;
    padding: 5px 10px;
    justify-content: space-around;

}
.likeContainer button{
    background-color: transparent;
    border: none;
    margin: 0 5px;
}
.tagRightSide{
    display: flex;
}
.tagLeftSide{
    display: flex;
}
.tagLeftSide span{
display: flex;
align-items: center;
}
.share{
    background-color:rgba(255, 255, 255, 0.149) ;
    border: none;
    border-radius: 30px; 
    padding: 5px 10px;
    margin: 0 5px;
}